<% include ../partials/header %>

<div class="container">
    <header id="box" class="jumbotron">
        <div class="container">
            <h2>Welcome to groupievents</h2>
            <h4>View available events in Dallas</h4>
            <h4>
               <a href="/events/new" id="addEventBtn">POST AN EVENT</a>
            </h4>
            
            <hr>
            <h5>Note: Since so many people were posting pornographic material I disabled image as an option. I'll edit an image in myself, and edit your post manually if you post inappropriate (foul language) material.</h5>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% listOfEvents.forEach(function(event){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img id="eventlisting-images" src="<%= event.image %>">
                    <div class="caption>"><h4><%= event.title.substring(0,35) %></h4></div>
                    <div>
                        <p>
                            <a href="/events/<%=event._id %>" id="moreInfoBtn">MORE INFO</a>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div> <!-- end of row -->
</div> <!-- end of container -->

<% include ../partials/footer %>