@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
/* #d67c33 = ORANGE */

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Pathway Gothic One';
}

.navbar {
    text-transform: uppercase;
    margin-top: 15px;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a
{    
    font-size: 20px;
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover
{
    color: #d67c33;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #d67c33;
}

a:active, a:focus, a:visited {
    text-decoration: none;
}


/* =============================== */
/*              BANNER             */
/* =============================== */

#title {
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#note {
    font-weight: bold;
    padding: 0 30px;
}

/* =============================== */
/*        EVENT LISTING PAGE       */
/* =============================== */

#events {
    margin-top: 75px;
    background-color: #3d3d3d;
}

.thumbnail {
    font-family: 'Gochi Hand';
    background-color: white;
    padding: 15px;
    border-radius: 0;
}

#eventlisting-images {
    width: 100%;
    height: 200px;
    background-color: black;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

#banner {
    width: 100%;
    height: 500px;
    text-align: center;
    background: 
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.54), 
      rgba(0, 0, 0, 0.54)
    ),
    /* bottom, image */
    url(https://static.pexels.com/photos/325521/pexels-photo-325521.jpeg);
    background-position: 50% 75%;
    color: white;
}

/* =============================== */
/*              MISSON             */
/* =============================== */

#mission {
    background-color: white;
    padding: 40px 0;
    text-align: center;
}

#mission hr {
    border-color: #b2b2b2;
    padding-bottom: 30px;
    width: 40%;
}

#deal p {
    font-size: 26px;
}

#dealContent p {
    font-size: 20px;
    padding: 40px 0;
}

/* =============================== */
/*               REVIEW            */
/* =============================== */


/* =============================== */
/*              BUTTONS            */
/* =============================== */

#bannerBtns ul{
    margin-top: 40px;
    padding: 0;
    list-style-type: none;
}

#bannerBtns li{
    display: inline;
    
}

#addEventBtn,
#searchEventBtn,
#moreInfoBtn {
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}

#addEventBtn {
    font-size: 20px;
    margin-right: 8px;
    color: white;
    background-color: #d67c33;
    padding: 16px;
    border-radius: 3px;
}

#addEventBtn:hover {
    background-color: #965724;
    text-decoration: none;
}

#searchEventBtn {
    font-size: 20px;
    margin-left: 8px;
    color: white;
    background-color: #c44a4a;
    padding: 16px;
    border-radius: 3px;
}

#searchEventBtn:hover {
    background-color: #823131;
    text-decoration: none;
}

#moreInfoBtn {
    color: red;
    text-decoration: none;
}

/* =============================== */
/*            MEDIA QUERIES        */
/* =============================== */

@media (max-width: 991px) {
    #eventlisting-images {
    width: 100%;
    height:300px;
    }

}