@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
/* #d67c33 = ORANGE */

body, html {
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    font-family: 'Pathway Gothic One';
}

.navbar {
   text-transform: uppercase;
   margin-top: 15px;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a
{    
    font-size: 17px;
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover
{
    color: #d67c33;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #d67c33;
}


/* =============================== */
/*              BANNER             */
/* =============================== */

#title {
    font-size: 40px;
    padding-top: 20px;
}

#note {
    padding: 0 30px;
}

/* =============================== */
/*        EVENT LISTING PAGE       */
/* =============================== */

#events {
    margin-top: 75px;
}

.thumbnail {
    font-family: 'Gochi Hand';
    background-color: white;
    padding: 15px;
    border-radius: 0;
}

#eventlisting-images {
    width: 100%;
    height: 200px;
    background-color: black;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

#banner {
    width: 100%;
    height: 500px;
    text-align: center;
    background: 
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.54), 
      rgba(0, 0, 0, 0.54)
    ),
    /* bottom, image */
    url(https://static.pexels.com/photos/325521/pexels-photo-325521.jpeg);
    background-position: 50% 75%;
    color: white;
}


/* =============================== */
/*              BUTTONS            */
/* =============================== */


#addEventLabel {
    color: white;
    padding-top: 25px;
}

#addEventBtn {
    color: white;
    border: 2px solid #d67c33;
    background-color: #d67c33;
    padding: 7px;
    text-decoration: none;
}

#addEventBtn:hover {
    color: #d67c33;
    border: 2px solid white;
    background-color: white;
    padding: 7px;
    text-decoration: none;
}

#moreInfoBtn {
    color: red;
    text-decoration: none;
}

/* =============================== */
/*            MEDIA QUERIES        */
/* =============================== */

@media (max-width: 991px) {
    #eventlisting-images {
    width: 100%;
    height:300px;
    }

}